@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");
@import url("~react-leaflet-markercluster/dist/styles.min.css");
@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

.BriefcaseButton:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 0.7px;
  border-color: white;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}
.marker-cluster-custom {
  background: #bbb812;
  border: 3px solid #ededed;
  border-radius: 50%;
  color: #ededed;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.NumberCandidatesFound {
  font-family: "Comic Neue";
  font-size: 28px;
  font-weight: bold;
  background-color: none;
  color: white;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  /* margin-top: 5px; */
}

.TextCandidatesFound {
  font-family: "Comic Neue";
  font-size: 14px;
  font-weight: bold;
  background-color: none;
  color: white;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  margin-top: 5px;
  text-align: left;
}
